.root {
  max-width: 800px;
  margin-bottom: 10px;

  .metadata {
    max-width: 160px;
    .title {
      display: block;
      font-size: 18px;
      font-weight: bold;
    }
    
    .content {
      display: block;
      font-size: 18px;
      word-break: break-all;
    }
  }
}