@import '@stylesheets/library';

.root {
  max-width: 800px;
  margin-bottom: 10px;

  .metadata {
    max-width: 160px;
    .title {
      display: block;
      font-size: 15px;
      font-weight: bold;

      @include non-mobile {
        font-size: 18px;
      }
    }
    
    .content {
      display: block;
      font-size: 14px;
      word-break: break-all;

      @include non-mobile {
        font-size: 18px;
      }
    }
  }
}