.root {
  display: flex;
  align-items: center;
  height: 40px;
  margin: {
    top: 10px;
    bottom: 5px;
  }

  .container {
    display: flex;
    gap: 5px;

    li {
      background-color: theme('colors.black.0');
      color: theme('colors.white');
      border: 1px solid theme('colors.white');
      border-radius: 5px;
      height: 30px;
      cursor: pointer;

      .page-item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 100%;
        text-align: center;
        user-select: none;
      }

      &.disabled {
        pointer-events: none;
        color: theme('colors.gray.600');
        border-color: theme('colors.gray.600');
      }

      &.page-navigation {
        &:active {
          background-color: theme('colors.emerald.500');
        }

        .page-item {
          width: 30px;
        }
      }

      &:not(.page-navigation).active {
        background-color: theme('colors.slate.200');
        color: theme('colors.black.25');
        border-color: theme('colors.blue.400');
        border-width: 3px;
        border-style: outset;
        font-weight: bold;
      }
    }
  }

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
    margin-left: 20px;
  }

  &.right {
    justify-content: flex-end;
    margin-right: 20px;
  }
}
