@import '@stylesheets/library';

.root {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  padding: 5px;
  overflow: hidden;

  .title {
    font-weight: 600;
    font-size: 18px;
    padding-left: 2.5px;

    @include non-mobile {
      font-size: 20px;
    }
  }

  .list {
    margin-top: auto;
    white-space: nowrap;
    overflow-y: auto;
    padding-bottom: 5px;
    @include custom-scrollbar-style('horizontal');

    @include non-mobile {
      padding-bottom: 2.5px;
    }
  }

  .video {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
