.root {
  color: theme('colors.white');
  z-index: 1000;

  .spinner {
    $radius: 45px;

    display: block;
    width: $radius;
    height: $radius;
    border-radius: 50%;
    border: 5px dotted theme('colors.white');
    animation: spinning 2s linear infinite;
    transform-origin: center;
    
    &.exiting {
      animation-play-state: paused;
    }
  }
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}