@mixin visible {
  opacity: 1;
  z-index: 9999;

  &.scale-animate {
    animation: scaleDown 0.34s ease-in-out forwards;
  }

  &.grow-animate {
    animation: growDown 0.34s ease-in-out forwards;
  }

  &.pulse-animate {
    animation: scaleDown 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }

  transform-origin: top left;

  &.position-right {
    transform-origin: top right;
  }
}

@mixin flex-visible-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include visible;
}

@mixin grid-visible-menu {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-auto-columns: minmax(150px, auto);
  @include visible;
}

$distance: 10px;

.root {
  position: relative;

  &.hover:hover .menu-list {
    &.flex {
      @include flex-visible-menu;
    }

    &.grid {
      @include grid-visible-menu;
    }
    &.free {
      @include visible;
    }
  }
}

.hoverable-space {
  position: absolute;
  width: 100%;
  height: $distance;
  background-color: transparent;
}

.menu-list {
  position: absolute;
  display: block;
  opacity: 0;
  transform: scale(0, 0);

  margin: {
    top: $distance;
    left: 0;
    bottom: 0;
    right: 0;
  }
  padding: 0;
  list-style: none;

  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1.5px 3px 1px #7d7d7d;

  &.position-left {
    left: 0;
  }

  &.position-right {
    right: 0;
  }

  &.flex.visible {
    @include flex-visible-menu;
  }

  &.grid.visible {
    @include grid-visible-menu;
  }

  &.free.visible {
    @include visible;
  }

  .menu-item {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: inherit;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

