.root {
  position: relative;
  background-color: #272626;
  padding: {
    top: 7.5px;
    left: 7.5px;
    right: 7.5px;
    bottom: 0;
  }
  border-radius: 6px;

  &.sm {
    width: 250px;
    height: 180px;
  }

  &.md {
    min-width: 300px;
    max-width: 400px;
    height: 260px;
  }

  &.detailed {
    width: 100%;
    max-width: 100%;

    .preview-container {
      display: flex;
      width: 100%;
      height: 85%;
      border-radius: 8px;
      overflow: hidden;
    }

    .backdrop-container img {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .detailed-container {
      display: flex;
      padding: 10px 15px;
      color: theme('colors.slate.300');

      .overview {
        display: flex;
        align-items: flex-end;
        margin-top: auto;
        height: 120px;
      }
    }

    &.sm {
      height: 200px;

      .backdrop-container {
        width: 300px;
        height: 100%;
      }

      .detailed-container {
        width: calc(100% - 300px);
        background-color: red;
      }
    }

    &.md {
      height: 370px;

      .backdrop-container {
        width: 555px;
        height: 100%;
      }

      .detailed-container {
        width: calc(100% - 400px);
        background-color: theme('colors.white-liked.15');
      }
    }

    .info .title {
      max-width: 600px;
    }
  }

  .backdrop-container {
    position: relative;
    width: 100%;
    height: 85%;

    img {
      border-radius: 8px;
      margin: auto;
      width: auto;
      height: 100%;
    }
  }
  
  .info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    color: theme('colors.white');

    .title {
      max-width: 290px;
      font-size: 16px;
      font-weight: 550;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .overlay {
    position: absolute;
    top: 6.5px;
    left: 6.5px;
    right: 6.5px;
    bottom: calc(15% - 2px);
    border: 2px solid transparent;
    border-radius: 6px;
    z-index: 100;

    @mixin clickable-icon {
      transition: opacity 0.5s linear;
      cursor: pointer;
      z-index: 1999;
    }  

    .play-icon {
      opacity: 0;
      border-radius: 50%;
      @include clickable-icon;

      svg {
        color: theme('colors.white');
      }

      &:hover {
        opacity: 0.95 !important;
      }

      &:active {
        svg {
          color: theme('colors.red.500');
        }
      }
    }

    .wishlist-icon {
      opacity: 0;
      position: absolute;
      bottom: 8px;
      right: 8px;
      @include clickable-icon;

      svg {
        color: theme('colors.red.600');
      }

      &:active {
        svg {
          color: theme('colors.yellow.500');
        }
      }
    }

    &:hover {
      border-color: theme('colors.gray.300');

      .play-icon {
        opacity: 0.75;
      }

      .wishlist-icon {
        opacity: 1;
      }
    }
  }
}
