@import '@stylesheets/library';

.root {
  &.mobile {
    display: block;

    @include non-mobile {
      display: none;
    }
  }

  &.desktop {
    display: none;

    @include non-mobile {
      display: block;
    }
  }

  & > div {
    margin: 5px 0px;
  }

  .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .sign-out {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.user-info {
  padding: 0 5px;
  text-align: left;

  img {
    width: 52px;
    height: 52px;
  }

  & > p,
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
  }

  .text-username {
    display: block;
    font-weight: bold;
  }

  .text-email {
    display: block;
  }

  &.mobile {
    max-width: unset;
    width: 100%;

    & > p, span {
      max-width: unset;
    }

    .text-username {
      color: theme('colors.white');
      font-size: theme('fontSize.xl')
    }

    .text-email {
      color: theme('colors.gray.300');
    }
  }

  &.desktop {
    min-width: 180px;
    max-width: 220px;
    width: max-content;

    & > p, span {
      max-width: 150px;
    }
    
    .text-username {
      color: theme('colors.red.700');
    }

    .text-email {
      color: black;
    }
  }
}
