.root {
  & > div {
    margin: 5px 0px;
  }

  .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.user-info {
  min-width: 180px;
  max-width: 220px;
  width: max-content;
  padding: 0 5px;
  text-align: left;

  img {
    width: 52px;
    height: 52px;
  }

  & > p,
  span {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
  }

  .text-username {
    display: block;
    color: red;
    font-weight: bold;
  }

  .text-email {
    display: block;
    color: black;
  }
}