@import '@stylesheets/library';

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: theme('variables.header-height');
  z-index: 1000;
  transition: height 0.3s linear;
  transition-delay: 0.125s;

  &:global(.theater) {
    height: 0;
    background-color: theme('colors.black.0');
    transition-delay: 0;
    overflow: hidden;

    .container {
      background-color: theme('colors.black.0');
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: inherit;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: theme('colors.black.35');
  background-image: linear-gradient(0deg, #30373f 0%, #282e35 20%, #1c1f24 74%);
  color: theme('colors.white');
  box-shadow: 1.5px 0.5px 3px theme('boxShadowColor.stone.700');

  @include non-mobile {
    padding-right: 10px;
  }
}

.logo {
  display: block;
  margin-right: auto;
  width: 75px;
  height: 34px;
  border-radius: 8px;
  background-color: dimgrey;
}