.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: theme('variables.header-height');
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: auto;
  padding: {
    left: 10px;
    right: 10px;
  }
  background-color: theme('colors.black.35');
  background-image: linear-gradient(0deg, #30373f 0%, #282e35 20%, #1c1f24 74%);
  color: theme('colors.white');
  box-shadow: 1.5px 0.5px 3px theme('boxShadowColor.stone.700');
}

.logo {
  display: block;
  width: 75px;
  height: 34px;
  border-radius: 8px;
  background-color: dimgrey;
}

.search-bar {
  $background-color: theme('colors.black.75');
  $border-radius: 8px;

  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: fit-content;
  height: 40px;
  border-radius: $border-radius;
  margin: {
    right: 10px;
  }
  overflow: hidden;

  input[type='search'] {
    width: 0;
    margin-right: 40px;
    height: 40px;
    color: theme('colors.gray.300');
    font-size: 15px;
    background-color: $background-color;
    // animation: slide 0.5s ease-in-out backwards;
  }

  .search-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border-radius: $border-radius;
    padding: 4px;
    background-color: theme('colors.white-liked.15');
    color: theme('colors.white');
    cursor: pointer;
  }

  &.expanded {
    border: 1px solid theme('colors.white');

    input[type='search'] {
      animation: expanding 0.5s ease-in-out forwards;
    }

    .search-icon {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $background-color;

      &:active {
        background-color: theme('colors.white-liked.15');
      }
    }
  }

  &.collapsed {
    input[type='search'] {
      animation: collapsing 0.4s ease-in-out forwards;
    }
  }
}

.user-info {
  min-width: 180px;
  max-width: 220px;
  width: max-content;
  padding: 0 5px;
  text-align: left;

  & > p,
  span {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
  }

  .text-username {
    display: block;
    color: red;
    font-weight: bold;
  }

  .text-email {
    display: block;
    color: black;
  }
}

.language-switch {
  width: 50px;
  height: 40px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .languages {
    background-color: theme('colors.gray.800');
  }
}

.auth-container {
  & > div {
    margin: 5px 0px;
  }

  .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

@keyframes expanding {
  0% {
    width: 0;
  }
  100% {
    width: 280px;
    padding: 4px 0 4px 12px;
  }
}

@keyframes collapsing {
  0% {
    width: 280px;
    padding: 4px 0 4px 12px;
  }
  100% {
    width: 0;
    padding: 0;
  }
}
