@import '@stylesheets/library.scss';

.root {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 10px;

  .category-menu {
    background-color: theme('colors.black.75');
    box-shadow: none;
    padding: 2px;
    border: 1px solid theme('colors.white');
  }

  .select-icon {
    color: theme('colors.slate.500');

    &:active {
      color: theme('colors.rose.200');
    }

    &:global(.active) {
      color: theme('colors.rose.400');
    }
  }

  .title {
    color: theme('colors.white');
    font-weight: bold;
    user-select: text;
    cursor: default;
  }
}

.selector-container {
  display: flex;
  color: theme('colors.gray.300');

  .selector {
    display: block;
    width: 100px;
    border-right: 1px solid theme('colors.white');

    a {
      display: block;
      width: 100%;
      font-size: 18px;
      cursor: pointer;

      &.selected {
        color: theme('colors.gray.200');
        font-weight: bold;
      }
    }
  }

  .list {
    grid-auto-flow: column;
    margin-left: 8px;

    @include non-mobile {
      display: grid;
      grid-auto-columns: max-content;
      column-gap: 0.5rem;
      grid-template-rows: repeat(5, minmax(0, 1fr));

    }

    a {
      min-width: 100px;
      width: max-content;
      padding: 0 5px;
      text-wrap: nowrap;
      transition: padding 0.33s linear;

      &.active {
        color: theme('colors.gray.200');
        font-weight: bold;
      }

      &:hover {
        padding: 0 12px;
        background-color: theme('colors.white-liked.25');
        color: theme('colors.gray.200');
        font-weight: bold;
        border-radius: 2.5px;
        cursor: pointer;
      }
    }
  }
}