.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 75px);
  background-color: theme('colors.white-liked.25');
  border-radius: 6px;
}

.content-wrapper {
  display: flex;
  height: calc(100vh - 315px);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: theme('colors.white');
  margin: {
    top: 10px;
    left: 10px;
    right: 10px;
  }
  overflow: hidden;
  $poster-width: 450px;
  $details-width: calc(100% - $poster-width);

  .poster {
    position: relative;
    background-color: theme('colors.gray.200');
    box-sizing: content-box;
    min-width: 400px;
    border-radius: 15px;
    margin: 5px;
    overflow: hidden;

    img {
      border: 1px inset theme('colors.black.75');
      border-radius: inherit;
      aspect-ratio: auto 636 / 955;
      width: 100%;
      height: 100%;
      z-index: 999;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: $details-width;
    color: theme('colors.gray.700');

    .title {
      font-size: 40px;
      font-weight: bold;
    }

    .tagline {
      font-size: 22px;
    }

    .rating {
      display: flex;
      gap: 10px;
      margin-bottom: 5px;

      & > *:first-child {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .overview {
      margin-top: 10px;
      max-height: 125px;
      overflow: hidden;


      & > *:first-child {
        display: block;
        font-size: 20px;
        font-weight: bold;
      }

      & > *:last-child {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        font-weight: 450;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 50px;
    }
  }
}

.related-videos {
  height: 240px;
  background-color: theme('colors.white');
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  margin: {
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}
