@import '@stylesheets/library';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: theme('colors.white-liked.25');
  border-radius: 6px;

  @include non-mobile {
    height: calc(100lvh - 75px);
  }
}

.content-wrapper {
  $poster-width: 450px;
  $details-width: calc(100% - $poster-width);
  display: flex;
  flex-direction: column;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-color: theme('colors.white');
  padding: 10px;
  margin: 10px;

  @include non-mobile {
    flex-direction: row;
    overflow: hidden;
    height: calc(100vh - 315px);
    padding: 0;
    margin-bottom: 0;
  }

  .poster {
    position: relative;
    box-sizing: content-box;
    width: 100%;
    border-radius: 15px;

    img {
      width: auto;
      height: 480px;
      aspect-ratio: auto 2 / 3;
      margin: auto;
      border: 1px inset theme('colors.black.75');
      border-radius: 15px;
      z-index: 999;
    }

    @include non-mobile {
      background-color: theme('colors.gray.200');
      min-width: 400px;
      width: auto;
      margin: 5px;

      img {
        height: 100%;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 0 5px;

    @include non-mobile {
      margin: 0 15px;
    }

    color: theme('colors.gray.700');

    .title {
      font-size: 32px;
      font-weight: bold;

      @include non-mobile {
        font-size: 40px;
      }
    }

    .tagline {
      font-size: 18px;

      @include non-mobile {
        font-size: 22px;
      }
    }

    .rating {
      display: flex;
      gap: 10px;
      margin-bottom: 5px;

      & > *:first-child {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .overview {
      margin-top: 10px;
      margin-bottom: 10px;

      & > *:first-child {
        display: block;
        font-size: 15px;
        font-weight: bold;
      }

      & > *:last-child {
        display: block;
        font-size: 13px;
        font-weight: 450;
      }

      @include non-mobile {
        max-height: 125px;
        margin-bottom: 0;

        & > *:first-child {
          font-size: 18px;
        }

        & > *:last-child {
          font-size: inherit;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 50px;

      @include mobile {
        justify-content: space-between;

        a,
        button {
          width: calc(50% - 5px);
        }
      }
    }

    @include non-mobile {
      width: $details-width;
    }
  }
}

.related-videos {
  background-color: theme('colors.white');
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  margin: {
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  @include non-mobile {
    height: 240px;
  }
}
