.root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 75px);
  border-radius: 6px;

  .player {
    // background-color: white;
    width: 1280px;
    height: 720px;
    margin: {
      top: 40px;
      left: 20px;
      right: 20px;
      bottom: 20px;
    };
    border-radius: inherit;
  }
}