.root {
  display: flex;
  align-items: center;
  margin: {
    left: 10px;
    bottom: 10px;
    right: 10px;
  };
}

.list {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 10px;

  .category-menu {
    ul {
      background-color: theme('colors.black.75');
      box-shadow: none;
      padding: 2px;
      border: 1px solid theme('colors.white');
    }

    li {
      text-indent: 10px;
      color: theme('colors.gray.200');
      transition: text-indent .3s linear;

      &:hover {
        text-indent: 20px;
        background-color: theme('colors.zinc.700');
        color: theme('colors.gray.200');
        font-weight: bold;
        border-radius: 2.5px;
        cursor: pointer;
      }
    }
  }

  .selector {
    color: theme('colors.slate.500');

    &:active {
      color: theme('colors.rose.200');
    }

    &:global(.active) {
      color: theme('colors.rose.400');
    }
  }

  .title {
    color: theme('colors.white');
    font-weight: bold;
    user-select: text;
    cursor: default;
  }
}

.filter-bar {
  $bar-height: 30px;

  position: relative;
  display: flex;
  align-items: center;
  margin: {
    left: 20px;
    right: 20px;
  };
  flex-grow: 1;
  margin-right: auto;

  .filter-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: $bar-height;
    height: $bar-height;
    color: theme('colors.teal.600');
    cursor: pointer;
  }

  input {
    width: $bar-height;
    height: $bar-height;
    padding: 4px 8px;
    background-color: transparent;
    color: transparent;
    border: 1px solid theme('colors.white-liked.25');
    border-radius: 4px;
    font-weight: 450;
    font-size: 14px;
    transition: all 0.5s linear;
    transform-origin: left;

    &::-webkit-input-placeholder {
      color: inherit;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &.expanded {
    input {
      width: 250px;
      padding-left: 30px;
      border-radius: 8px;
      background-color: theme('colors.gray.800');
      color: theme('colors.gray.300');
      border-color: theme('colors.white-liked.50');

      &::-webkit-input-placeholder {
        color: theme('colors.gray.400');
      }

      &:focus-visible {
        &::-webkit-input-placeholder {
          color: inherit;
        }

        & + .filter-icon {
          color: theme('colors.teal.500');
        }
      }
    }
  }
}


.modes {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;

  .mode-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    color: theme('colors.slate.500');
    width: 36px;
    height: 36px;
  
    &.active {
      background-color: rgba(255, 255, 255, 0.25);
      color: theme('colors.slate.300');
      border-radius: 3px;
    }
  }
}


